
/* SEPARAR LA ESTRUCTURA DEL DISEÑO */

/* Sin separar*/
/*
    <div class="card-red"></div>
    <div class="card-green"></div>

*/
.card-red {
    background: linear-gradient(#ccc,#f00);
    border:1px solid black;
    border-radius: 1rem;    
    padding: 1rem;
    height: 200px;
    width: 25%;
}   

.card-green {
    background: linear-gradient(#ccc,#0f0);
    border:1px solid black;
    border-radius: 1rem;    
    padding: 1rem;
    height: 200px;
    width: 25%;
}

/* Separados*/
/*
    <div class="card card-red"></div>
    <div class="card card-green"></div>

*/
.card {
    border:1px solid black;
    border-radius: 1rem;    
    padding: 1rem;
    height: 200px;
    width: 25%;
}

.card-green {
    background: linear-gradient(#ccc,#0f0);
}

.card-red {
    background: linear-gradient(#ccc,#f00);
}

/* SEPARAR CONTENEDOR DEL CONTENIDO */

/*
    <header>
        <h1>XXXXXX</h1>
    </header>

    <footer>
        <h1>YYYYYYY</h1>
    </footer>
*/

/* Sin separar */
header h1 {
    color: #222;
    font-size: 2rem;
}

footer h1 {
    color: #222;
    font-size: 1.5rem;
    opacity: 0.5;
}

/* Separados */
/*
    <header>
        <h1 class="h1-size">XXXXXX</h1>
    </header>

    <footer>
        <h1 class="h2-size translucid">YYYYYYY</h1>
    </footer>
*/
h1 {
    color: #222;
}

.h1-size {
    font-size: 2rem;
}

.h2-size {
    font-size: 1.5rem;
}

.translucid {
    opacity: 0.5;
}

