
/* ................................................
   REGLAS 
...................................................*/

.btn {
    border: 1px solid black;
}

/* ................................................
   REGLAS 
...................................................*/

.btn {
    font-size: 2rem;
}

/* ................................................
   REGLAS 
...................................................*/

.btn {
    border-radius: 1rem;
}

/* ................................................
   REGLAS 
...................................................*/

.btn {
    padding: 0.5rem;
}


/* SIN REPETICIÓN */
.btn {
    border: 1px solid black;
    border-radius: 1rem;
    font-size: 2rem;
    padding: 0.5rem;
}
